/* LAYOUT */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ADB5BD;
}

.container {
    max-width: 100vw;
}

/* SCREEN */

.main-nav {
    flex-direction: row;
    display: block;
    height: 10vh;
    background-color: #212529;
    color: #e9ecef;
    padding-left: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.phone {
    display: block;
}

.phone-header {
    display: none;
}

/* GALLERY */

.gallery {
    display: block;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0 10px 10px;
    gap: 10px;
}

.grid-item {
    border: 5px solid #212529;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* EDITOR */

.editor {
    display: none;
    margin-left: 10px;
}

.main-content {
    flex-direction: row;
    margin: 0 auto;
}

.editor-container {
    width: 40vw;
    height: 90vh;
    font-size: 20px;
    margin: auto;
}

.editor-tools {
    height: 100%;
    width: 100%;
}

.icon {
    height: 40px;
    width: 40px;
    margin: auto;
}

#text {
    padding: 4px;
}

/* FOOTER */

.footer-nav {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    background-color: #212529;
    color: #e9ecef;
    margin-top: 10px;
}

/* HELPERS */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.btn {
    cursor: pointer;
}

@media (max-width: 780px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .editor {
        width: 90vw;
    }
    #my-canvas {
        margin: auto;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .phone {
        display: none;
    }

    .phone-header {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ADB5BD;
        font-size: 20px;
        padding: 10px;
    }
}